

/* created by online student .ie*/

*, span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HERO section START --------------------------------------------------------*/
.section-4-HERO{
    max-width: 1700px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-image: url( https://html.ditsolution.net/drtheme/dreamhub/tutoring/assets/images/slider/hero-bg.jpg  );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header.header-section-4{
    height: 100px;
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    background-color: #00bea1;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 10%;
    position: fixed;
    z-index: 50;
}

.nav-header-4{
    isplay: flex;
    list-style-type: none;
    max-width: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-header-4{
    max-width: 250px;
    width: 100%;
    height: 50px;
    display: grid;
    place-content: center;
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
    white-space:nowrap;
    color: #2f3d5e ;
    background-color: rgb(47, 61, 94, 0.2);
}

.li-header-4{
    flex: 1;
    padding: 5px;
    display: grid;
}

.a-header-4{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    padding: 5px 0px;
    color: #2f3d5e;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    overflow: hidden;
}

.a-header-4::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #2f3d5e;
    transition: width 0.3s ease;
}

.a-header-4:hover::before {
    width: 100%;
}

.join-header-4{
    padding: 10px 15px;
    background-color: #2f3d5e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 29px -6px rgba(45,45,45,1);
    -webkit-box-shadow: 0px 0px 29px -6px rgba(45,45,45,1);
    -moz-box-shadow: 0px 0px 29px -6px rgba(45,45,45,1);
    white-space:nowrap;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.join-header-4:hover {
    background-color: #ff2b5a ;
    transition: all 0.2s ease-in-out;
}

.image-wrapper-4{
    max-width: 600px;
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    right: 100px;  
}

.image-wrapper-4 > img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: center;
}


@media screen and (max-width: 850px){

    .nav-header-4{
        justify-content: center;
    }
    .logo-header-4{
        display: none;
    }
    .li-header-4{
        max-width: 200px;
        width: 100%;
        padding: 5px;
    }
    .image-wrapper-4{
        right: 0px;
    }
}

@media screen and (max-width: 550px) {
    header.header-section-4{
        flex-direction: column;
        padding: 0px 10px 5px;
        height: fit-content;
        gap: 5px;
    }
}

.section-4-HERO  .span-HERO {
    width: 50vw;
    margin-left: 10%;
    transform: translate(0%, 10%);
    position: relative;
    z-index: 5;
    border-radius: 5px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    ackground-color: red;
}


@media screen and (max-width: 1200px){
    .section-4-HERO  .span-HERO{
        align-items: center;
        text-align: center;
        max-width: 400px;
        width: 100%;
        margin-left: 0%;
       }
    }

@media screen and (max-width: 1000px){
    .section-4-HERO  .span-HERO{
        align-items: center;
        text-align: center;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        padding: 10px;
    }

    .section-4-HERO {
        background-image: none;
    }

    .image-wrapper-4{
        display: none;
    }
}

.span-HERO h1 {
    font-size: 50px;
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1px;
    color: #2f3d5e;
}

.span-HERO h5 {
    font-size: 18px;
    font-family: "Work Sans", sans-serif;
    color: #00bea1;
}

.span-HERO p {
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    color: #676767;
}

.button-HERO{
    width: min-content;
    background-color: #00bea1 ;
    padding: 20px 40px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.button-HERO:hover{
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.5);
    transition: all 0.2s ease;
}
/* HERO section END --------------------------------------------------------*/




/*section statistic 2 start ----------------------------------------------*/
._section-2{
    max-width: 1700px;
    width: 100%;
    min-height: 150px;
    margin: 0 auto;
    background-color: #2f3d5e;
    display: flex;
    gap: 25px;
    padding: 25px;
    color: lightgray;
}

.description-wrapper{
    border: 1px solid lightgray;
    flex: 1;
    display: grid;
    place-content: center;
}

.description-wrapper > h2{
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
}

.description-wrapper > p{
    font-size: 18px;
    letter-spacing: 1px;
}

@media screen and (max-width: 800px) {
    ._section-2{
        flex-direction: column;
        text-align: center;
    }
}

/*section statistic 2 end ----------------------------------------------------*/



/* section GRID layout 3 start ----------------------------------------------------*/
._section-3{
    max-width: 1700px;
    width: 100%;
    min-height: fit-content;
    margin: 0 auto;
    padding: 50px 0px 0px 0px;
    background-color: #e5fefb;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.grid-layout-section-3{
    margin-top: 15px;
    width: 80%;
    display: grid;
    justify-content: center;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 0.27fr));
    grid-auto-rows: repeat(minmax(350px, auto));
    margin-bottom: 60px;
}

.grid-layout-section-3  {
    order: 10px solid rgb(57, 248, 248);
}

._section-3 > h3{
    font-size: 25px;
    font-weight: 700;
    color: #2f3d5e;
}

._section-3 > h2{
    font-size: 40px;
    font-weight: 700;
    color: #2f3d5e;
}

  .card-wrapper{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;

    box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
}
 
  .image-wrapper{
    display: flex;
    justify-content: center;
  }

  .im{
    max-width: 300px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
   }

   .card-content-wrapper{
    flex: 2;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    order: 5px dotted black;
    color: #2f3d5e;
  }
 
  .skills-description-wrapper{
    min-height: 120px;
  }

  .indicators{
    display: flex;
    justify-content: space-between;
  }
  .skills-description-wrapper span:first-child{
    font-weight: 700;
  }

  .checked {
    color: orange;
  }
/* section GRID layout 3 end  cards -----------------------------------------------------*/





/* section-4 Testimonials and Slider  START ---------------------------------------------------*/
section._slider{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    background-color: #e5fefb;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

._slider  h3{
    font-size: 25px;
    font-weight: 700;
    color: #2f3d5e;
    display: flex;
    align-items: center;
    gap: 20px;
}

._slider h2{
    font-size: 40px;
    font-weight: 700;
    color: #2f3d5e;
}

.decoration-line{
   width: 400px;
   background-color: #2f3d5e;
   height: 1px;
}


/* slider itself START ----------------------------------------------------------------*/
section.section-slider-2{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.wrapper-slider-2{
    max-width: 800px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    color: #2f3d5e;
    background-color:  #00bea1;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 100px;

    box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.78);
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.78);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.78);
}
 

/* together*/
.images-wrapper-2{
    display: flex;
    transition: transform 0.7s ease-in-out;
}

.images-wrapper-2 > img{
    width: 800px;
    height: 300px;
}

#image-2{
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    text-align-last: center;
    color: white;
}
/* together*/



.wrapper-buttons-2{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

i{
    padding: 0;
    margin: 0;
    color:  white;
}

.wrapper-buttons-2 > button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid  white;
    background-color: transparent;
    cursor: pointer;
}
/*------- slider itself 1 END -----------------------------------------*/
/* section-4 Testimonials and Slider  END -----------------------------------------------------*/





/* section-5 NEWS start -----------------------------------------------------*/
._news-section{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.h2-NEWS{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #2f3d5e;
    padding: 20px;
}

.news-block-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 50px;
}

.news-text{
    min-height: 100px;
    flex: 0.1 0.5 400px;
    border: 1px solid #00bea1;
    padding: 20px;
}
/* section-5 NEWS end -----------------------------------------------------*/




/* section-6 subscribe start -----------------------------------------------------*/
section._subscribe{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

._subscribe img{
   max-width: 900px;
   width: 100%;
   max-height: 400px;
   object-fit: cover;
   object-position: center;
}

.color-layer {
    position: absolute;
    inset: 0;
    background-color: rgb(229, 254, 251, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.subscribe-wrapper{
    max-width: 900px;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-wrapper > h2 {
    font-size: 40px;
    font-weight: 700;
    color: #2f3d5e;
}

.subscribe-wrapper h4 {
    font-size: 18px;
    font-weight: normal;
    color: #2f3d5e;
    font-style: italic;
}

.input-and-subscribe-button{
    display: flex;
    gap: 10px;
    max-width: 600px;
    width: 100%;
    margin-top: 25px;
}

.input-and-subscribe-button > input {
  width: 100%;
  height: 40px;
  padding: 0px 10px;
}

.input-and-subscribe-button > button {
    border:  none;
    padding: 0px 40px;
    background-color: #2f3d5e ;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.input-and-subscribe-button > button:hover{
    background-color: #ff2c59;
    transition: all 0.2s ease;
}
/* section-6 subscribe end -----------------------------------------------------*/




/* section-7 FOOTER start -----------------------------------------------------*/
._footer-section{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    background-color: #2f3d5e ;
    display: grid;
    padding: 20px 100px;
    gap: 20px;
}

.footer-bloks-wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media screen and (max-width: 1000px){
    .footer-bloks-wrapper{
        flex-direction: column;
        align-items: center;
    }
}

.footer-block{
    height: 100%;
    flex: 1;
    max-width: 300px;
    width: 100%;
}

@media screen and (max-width: 1000px){
    .footer-block{
        text-align: center;
    }
}

.footer-block:nth-child(2),
.footer-block:nth-child(3) {
    max-width: 150px;
    width: 100%;
}

.footer-block > h2{
    padding: 20px 0px;
    color: #00bea1;
}
.footer-block > p {
    color: white;
    line-height: 1.5;
}

hr.hr-footer{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background-color: rgb(191, 191, 191);
}

.a-footer{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0px;
    background-color: #2f3d5e ;
    display: grid;
    place-content: center;
    color: #00bea1;
    text-decoration: none;
}

   .footer-social-icons-wrapper > .fa {
    padding: 10px;
    font-size: 20px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }
/* section-7 FOOTER end -----------------------------------------------------*/





/* HTML-file FAQ-accorddion start -----------------------------------------------------*/
.FAQ{
    background-color: yellow;
}

._accordion-FAQ{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #ececec;
    padding: 150px 0px 100px 0px;
}


/* accordion itself start */
.container {
    width: 80%;
    max-width: 650px;
    margin: 0 auto;
    padding: 2px;
  }

h1.h1-heading{
    background-color: #2f3d5e;
    padding: 5px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}

.panel {
    background-color: white;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  .panel-active{
    background-color: white;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    padding: 0 20px;
    max-height: 200px;
    overflow: hidden;
  }
  
  button.green{
    background-color: green;
  }
  
  button.accordion {
    width: 100%;
    background-color: rgb(220, 220, 220);
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    color: #333;
    cursor: pointer;
    font-size: 22px;
    transition: background-color 0.5s linear;
    margin: 2px 0px 2px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  button.accordion::after {
    content: "\002B";
    font-family: "fontawesome";
    font-size: 38px;
    font-weight: 900;
    /*float: right;*/
    rotate: 0deg;
    transition: rotate 0.5s ease-out;
  }
  
  button.accordion.is-open::after {
    content: "\002B";
    font-size: 38px;
    font-weight: 900;
    rotate: 135deg;
    transition: rotate 0.5s ease-out;
  }

.p-tag {
    padding: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    order: 5px solid black;
}

.p-tag-active {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    max-height: 200px;
    overflow: visible;
    order: 5px solid black;
}
/* accordion itself end */
/*  HTML-file FAQ-accordion end -----------------------------------------------------*/






/* <form> signIN/signUP start, HTML-file 'join' -----------------------------------*/
/*------- <form> START -----------------------------------------*/

section.section-3-form{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modal-window-wrapper{
    position: absolute;
    inset: 0;
    background-color: rgb(0, 0, 0, 0.5);
    display: grid;
    place-content: center;
    transition: all 3s ease-in-out;
    animation: modalWindow 0.5s;
}

@keyframes modalWindow {
    from {
        opacity: 0.4;
    }
  
    to {
        opacity: 1;
    }
  }

.modal-window-block{
    width: 500px;
    height: 300px;
    background-color: #fff;
    display: grid;
    place-content: center;
    position: relative;
}

.close-X{
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 40px;
    font-weight: 700;
    rotate: 45deg;
}

.close-X:hover {
    border-radius: 50%;
    background-color: lightgray;
}

.modal-window-wrapper.hide-WINDOW{
    display: none;
}

.section-3-form__wrapper{
    max-width: 460px;
    width: 100%;
    min-height: auto;
    border: 1px solid rgb(100, 100, 100);
    margin-bottom: 50px;
    margin-top: -50px;
    margin-left: 20px;
    margin-right: 20px;
}


.section-3-form__wrapper > header{
    list-style: none;
    display: flex;
}

.section-3-form__wrapper > header li {
    height: 40px;
    flex: 1;
    cursor: pointer;
    display: grid;
    place-content: center;
    color: white;
}

.form-wrapper-1{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    animation: fadein 0.2s;

    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url(https://freefrontend.com/assets/img/css-background-patterns/2023-css-only-rotated-square-pattern.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-itself .form-wrapper-1 > input{
    border: 1px solid gray;
}

.form-wrapper-2{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    animation: fadein 0.2s;
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url( https://freefrontend.com/assets/img/css-background-patterns/2023-css-only-rotated-square-pattern.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.section-3-form__wrapper > header > .btn-signIN{
    background-color: #00bea1;
    color: white;
    font-size: 20px; 
}
   
.section-3-form__wrapper > header > .btn-signUP{
    background-color: #2f3d5e;
    color: white;
    font-size: 20px;
}

.checkbox-wrapper{
    padding: 10px;
    background-color: lightgray;
    display: flex;
    gap: 10px;
    width: fit-content;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

.form-wrapper-1 > input {
    border: none;
    height: 40px;
    padding: 0px 10px;
}

.or{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

 .form-itself .or .hr-decor{
    max-width: 150px;
    width: 100%;
    margin: 0px 10px;
}

.btn-to-your-account{
    height: 40px;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: #79b42b ;
    color: white;
    font-size: 16px;
}

.btn-to-your-account:hover {
    background-color: #5f9517 ;
    transition: all 0.3s ease;

}

.do-not-have-account{
    width: fit-content;
    cursor: pointer;
    padding: 5px;
    background-color: lightgray;
}

.social-icons-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}

/*facebook*/
.facebook span:first-child {
    width: 50px;
    height: 40px;
    display: grid;
    place-content: center;
}

.facebook span:last-child {
    width: 100%;
    height: 40px;
    display: grid;
    place-content: center;
    font-size: 120%;
}

.facebook {   
    background-color:#3b5898; 
    color:#ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
  }

  .facebook:hover {
    background-color:#5177c2;
    cursor: pointer;
  }

  .facebook:active {
    position:relative;
    top:1px;
  }

  /*twitter*/
.twitter span:first-child {
    width: 50px;
    height: 40px;
    display: grid;
    place-content: center;
}

.twitter span:last-child {
    width: 100%;
    height: 40px;
    display: grid;
    place-content: center;
    font-size: 120%;
}

.twitter {   
    background-color:#00abee; 
    color:#ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
  }

  .twitter:hover {
    background-color:#4cbde6;
    cursor: pointer;
  }

  .twitter:active {
    position:relative;
    top:1px;
  }

  /*google*/
.google span:first-child {
    width: 50px;
    height: 40px;
    display: grid;
    place-content: center;
}

.google span:last-child {
    width: 100%;
    height: 40px;
    display: grid;
    place-content: center;
    font-size: 120%;
}

.google {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    background-color:#dd4c39; 
    color:#ffffff;
  }

  .google:hover {
    background-color:#f06e60;
    cursor: pointer;
  }

  .google:active {
    position:relative;
    top:1px;
  }
  /* form 1 END*/
/*--------------------------------------------------------*/



/*--------------------------------------------------------*/
  /* form 2 START*/
  .form-wrapper-2{
    background-color: #b2209f;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0.4;
    }
  
    to {
        opacity: 1;
    }
  }

.form-wrapper-2 > input {
    border: none;
    height: 40px;
    padding: 0px 10px;
    border: 1px solid black;
}

.create_account_btn{
    height: 40px;
    background-color: lightgreen;
    border:  none;
    cursor: pointer;
}

.create-account-btn {
    background-color: #79b42b;
    border:  none;
    height: 40px;
    font-size: 16px;
    color:  white;
    background-image: url( " https://icons8.com/icon/sz8cPVwzLrMP/check-mark "  );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.create-account-btn:hover{
    background-color: #5f9517 ;
    transition: all 0.3s ease;
    cursor: pointer;
}

.CREATED{
    width: fit-content;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
}

.CREATED > span{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: rgb(0, 197, 10);
    color:green;
    display: grid;
    place-content: center;
}

  /* form 2 END*/
/*------- <form> END -----------------------------------------*/
/* <form> signIN signUP end, HTML-file 'join' -----------------------------------*/




/* courses page start -------------------------------------------------------*/
section._courses{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    min-height: fit-content;
    background-color: #e5fefb;
    position: relative;
    padding-top: 80px;
}
/* courses page end -----------------------------------------------------------------*/



/* plans and prices page start -----------------------------------------------------*/
section.plans-and-prices{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
}

.plans-and-prices_wrapper{
    width: 80%;
    margin: 0px  auto 100px;
    min-height: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 20px;
}

@media  screen and (  max-width: 1100px) { 
    .plans-and-prices_wrapper{
        flex-direction: column;
    }
}

.plans-and-prices .plans-heading{
    width: 80%;
    margin: -20px auto 0px;
    background-color: #e5fefb;
    text-align: center;
    color: #2f3d5e;
    padding: 10px;
}

.plans-and-prices .plans-heading h2{
    font-size: 40px;
}

.plans-and-prices .plans-heading h3{
    font-size: 25px;
    padding: 15px 0px;
    margin-bottom: 20px;
}

.prices-card{
    max-width: 350px;
    width: 100%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

    box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
}

.prices-card h4 {
    background-color: rgb(209, 209, 94);
    padding: 15px 0px;
    text-align: center;
    font-size: 25px;
    color: #2f3d5e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.prices-card p {
    text-align: center;
    background-color: rgb(238, 238, 238);
    padding: 20px 0px;
    font-size: 18px;
}

.p-wrapper-prices{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

 .p-wrapper-prices .button-prices{
    width: fit-content;
    display: inline-block;
    margin: 0 auto;
    padding: 15px 30px;
    background-color: #2f3d5e;
    color:  white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.p-wrapper-prices .button-prices:hover {
    background-color: #ff2c59;
    transition: all 0.2s ease;
}

.prices-card:nth-child(2){
    min-height: 500px;
    position: relative;
    border-radius: 10px;
}

.prices-card:nth-child(2) .p-wrapper-prices{
    display: flex;
    height: 400px;
    height: auto;
    border-radius: 10px;
}

.prices-card:nth-child(2) button{
    background-color: #00bea1;
}

/* RIBBON start --------------------------*/
.ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
  }
  .ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
  }
  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
  }
  .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
  }
/* RIBBON end -----------------------*/
/* plans and prices page end -------------------------------*/




/* contacts page start --------------------------------------*/
section._contacts{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: fit-content;
    background-color: #e5fefb;
    padding-top: 150px;
}

.map-and-contact-wrapper{
    width: 80%;
    margin: 0px auto 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    background-image: linear-gradient(180deg, rgba(7,217,178,0.5) 0%, rgba(7,217,178,0) 100%);
    padding: 20px;
}

.map-and-contact-section{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    min-height: fit-content;
    color: #2f3d5e;
}

.left-contact-info{
    width: 100%;
    min-height: 400px;
}

.left-contact-info h3 {
    font-size: 24px;
    padding: 10px;
}

.left-contact-info > p{
    padding: 10px;
    font-size: 18px;
}

address p {
    width: fit-content;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

address .material-symbols-outlined{
   color: orange;
   font-size: 20px;
}

/*map icon*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 200,
  'opsz' 40
}

@media screen and (max-width: 1150px) { 

 .map-and-contact-wrapper{
    flex-wrap: wrap;
 }
 .left-contact-info{
    max-width: fit-content;
    min-height: fit-content;
}
.map-and-contact-wrapper{
    max-width: 650px;
    width: 100%;
    box-sizing: border-box;
}
}
/* contacts page end ---------------------------------------------*/




/* FAQ page start ---------------------------------------------------*/

section._FAQ-section{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    background-color:  #ececec ;
}

section._accordion-FAQ{
    min-height: fit-content;
}
/* FAQ page end ------------------------------------------------------*/




/* join page start ------------------------------------------------------*/
section.join-wrapper-section{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    background-color:orange;
}

section.section-3-form{
    padding-top: 200px;
    background-color: rgb(161, 255, 177);
    background-color:#e5fefb ;
}
/* join page end -------------------------------------------------------------*/



